{% extends "layouts/base-admin.html" %}

{% block title %} Package Summary {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="col-12 col-sm-12 col-xl-12 mb-4">
        <div class="card border-light shadow-sm">
            <div class="card-body">
                <!-- Package Use -->
                <div class="card-header">
                    <h2 class="fs-5 fw-bold mb-0">Company Services List</h2><br>
                    <!-- Button Modal -->
                    <a class="btn btn-sm btn-info" href="#modalNewPackage" data-bs-toggle="modal"><span class="fas fa-box mr-1"></span> Add new service </a>
                </div>
                {% for package in company_packages_data %}
                <div class="card-body">
                    <!-- Packaged transferred -->
                    <div class="row ps-lg-1">
                        <div class="col ms-n2">
                            <h3 class="fs-6 fw-bold mb-1">{{ package.item_name }}</h3>
                            <p class="mb-1">Price: {{ package.item_price_in_cents / 100 }}</p>
                        </div>
                    </div>
                    <a class="btn btn-sm btn-secondary" href="{{ url_for('main.edit_existing_package', item_id=package.item_id) }}"><span class="fas fa-minus mr-1"></span> Edit Package </a>
                </div>
                
                {% endfor %}

                <!-- Modal Content -->
                <div class="modal fade" id="modalNewPackage" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-0">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body px-md-5">
                                <h2 class="h4 text-center">Add Service to List</h2>
                                <p class="text-center mb-4">Enter service name and price</p>
                                
                                <form method="post" action="">
                                    {{ form.hidden_tag() }}
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="Service Name">Service Name</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><span class="fas fa-clipboard-list"></span></span>
                                            {{ form.package_name(class="form-select", placeholder="e.g. Men's haircut") }}
                                        </div>
                                        <p class="text-danger">{% for errors in form.package_name.errors %}{{ errors }}{% endfor %}</p>
                                    </div>
                                    <!-- End of Form -->
                                    <div class="form-group">
                                        <!-- Form -->
                                        <div class="form-group mb-4">
                                            <label for="password">Service Price (SGD)</label>
                                            <div class="input-group">
                                                <span class="input-group-text"><span class="fas fa-dollar-sign"></span></span>
                                                {{ form.package_price(class="form-control") }}
                                            </div>  
                                        </div>
                                        <!-- End of Form -->
                                    </div>
                                    <div class="d-grid">
                                        <button type="submit" name="submit" id="form-submit" class="btn btn-dark">Register New Service</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Modal Content -->



                </div>
                </div>
                </div>



                
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
