{% extends "layouts/base-admin.html" %}

{% block title %} Package Summary {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="col-12 col-sm-12 col-xl-12 mb-4">
        <div class="card border-light shadow-sm">
            <div class="card-body">
                <!-- Package Use -->
                <div class="card-header">
                    {% if service_or_product == 'service' %}
                    <h2 class="fs-5 fw-bold mb-0">Company Services List</h2><br>
                    <!-- Button Modal -->
                    <a class="btn btn-sm btn-info" href="#modalNewPackage" data-bs-toggle="modal"><span class="fas fa-box mr-1"></span> Add new service </a>
                    {% else %}
                    <h2 class="fs-5 fw-bold mb-0">Company Products List</h2><br>
                    <!-- Button Modal -->
                    <a class="btn btn-sm btn-info" href="#modalNewPackage" data-bs-toggle="modal"><span class="fas fa-box mr-1"></span> Add new product </a> 
                    {% endif %}
                </div>
                {% for item in company_item_data %}
                <div class="card-body">
                    <!-- Packaged transferred -->
                    <div class="row ps-lg-1">
                        <div class="col ms-n2">
                            <h3 class="fs-6 fw-bold mb-1">{{ item.item_name }}</h3>
                            <p class="mb-1">Price: {{ item.item_price_in_cents / 100 }}</p>
                        </div>
                    </div>
                    <a class="btn btn-sm btn-secondary" href="{{ url_for('main.edit_existing_item', item_id=item.item_id) }}"><span class="fas fa-edit mr-1"></span> Edit </a>
                    <!-- Button Modal -->
                    <a class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modal-delete{{ item.item_id }}"><span class="fas fa-minus mr-1"></span> Delete </a>
                    <!-- Modal Content -->
                    <div class="modal fade" id="modal-delete{{ item.item_id }}" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
                        <div class="modal-dialog modal-info modal-dialog-centered" role="document">
                            <div class="modal-content bg-gradient-secondary">
                                <div class="modal-header">
                                    <p class="modal-title" id="modal-title-notification">Please confirm deletion.</p>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="py-3 text-center">
                                        <span class="modal-icon display-1-lg"><span class="far fa-envelope-open"></span></span>
                                        <h2 class="h4 modal-title my-3">Important message!</h2>
                                        {% if service_or_product == 'service' %}
                                        <p>Are you sure you want to delete this service? This action cannot be undone.</p>
                                        {% else %}
                                        <p>Are you sure you want to delete this product? This action cannot be undone.</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-sm btn-danger" href="{{ url_for('main.delete_existing_item', item_id=item.item_id) }}"> Delete Item </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Modal Content -->
                </div>
                
                {% endfor %}

                <!-- Modal Content -->
                <div class="modal fade" id="modalNewPackage" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-0">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body px-md-5">
                                {% if service_or_product == 'service' %}
                                <h2 class="h4 text-center">Add Service to List</h2>
                                <p class="text-center mb-4">Enter service name and price</p>
                                {% else %}
                                <h2 class="h4 text-center">Add Item to List</h2>
                                <p class="text-center mb-4">Enter item name and price</p>
                                {% endif %}                                
                                <form method="post" action="">
                                    {{ form.hidden_tag() }}
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        {% if service_or_product == 'service' %}
                                        <label for="Service Name">Service Name</label>
                                        {% else %}
                                        <label for="Service Name">Product Name</label>
                                        {% endif %}
                                        <div class="input-group">
                                            <span class="input-group-text"><span class="fas fa-clipboard-list"></span></span>
                                            {{ form.item_name(class="form-select", placeholder="e.g. Men's haircut") }}
                                        </div>
                                        <p class="text-danger">{% for errors in form.item_name.errors %}{{ errors }}{% endfor %}</p>
                                    </div>
                                    <!-- End of Form -->
                                    <div class="form-group">
                                        <!-- Form -->
                                        <div class="form-group mb-4">
                                            {% if service_or_product == 'service' %}
                                            <label for="Price">Service Price (SGD)</label>
                                            {% else %}
                                            <label for="Price">Item Price (SGD)</label>
                                            {% endif %}
                                            <div class="input-group">
                                                <span class="input-group-text"><span class="fas fa-dollar-sign"></span></span>
                                                {{ form.item_price(class="form-control") }}
                                            </div>  
                                        </div>
                                        <!-- End of Form -->
                                    </div>
                                    <div class="d-grid">
                                        {% if service_or_product == 'service' %}                                        
                                        <button type="submit" name="submit" id="form-submit" class="btn btn-dark">Register New Service</button>
                                        {% else %}
                                        <button type="submit" name="submit" id="form-submit" class="btn btn-dark">Register New Item</button>
                                        {% endif %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Modal Content -->

                </div>
                </div>
                </div>



                
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
