{% extends "layouts/base-admin.html" %}

{% block title %} Products Summary {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="col-12 col-sm-12 col-xl-12 mb-4">
        <div class="card border-light shadow-sm">
            <div class="card-body">
                <!-- Package Use -->
                <div class="card-header">
                    <h2 class="fs-5 fw-bold mb-0">Company Product List</h2>
                </div>
                {% for product in company_products_data %}
                <div class="card-body">
                    <!-- Packaged transferred -->
                    <div class="row ps-lg-1">
                        <div class="col ms-n2">
                            <h3 class="fs-6 fw-bold mb-1">{{ product.item_name }}</h3>
                            <p class="mb-1">Price: {{ product.item_price_in_cents / 100 }}</p>
                        </div>
                    </div>
                </div>
                
                {% endfor %}

                <!-- Button Modal -->
                <button type="button" class="btn btn-block btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modalNewPackage">Add new product</button>
                <!-- Modal Content -->
                <div class="modal fade" id="modalNewPackage" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-0">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body px-md-5">
                                <h2 class="h4 text-center">Add Product to List</h2>
                                <p class="text-center mb-4">Enter product name and product price</p>
                                
                                <form method="post" action="">
                                    {{ form.hidden_tag() }}
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="Package Name">Product Name</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><span class="fas fa-clipboard-list"></span></span>
                                            {{ form.product_name(class="form-select") }}
                                        </div>
                                        <p class="text-danger">{% for errors in form.product_name.errors %}{{ errors }}{% endfor %}</p>
                                    </div>
                                    <!-- End of Form -->
                                    <div class="form-group">
                                        <!-- Form -->
                                        <div class="form-group mb-4">
                                            <label for="password">Product Price (SGD)</label>
                                            <div class="input-group">
                                                <span class="input-group-text"><span class="fas fa-dollar-sign"></span></span>
                                                {{ form.product_price(class="form-control") }}
                                            </div>  
                                        </div>
                                        <!-- End of Form -->
                                    </div>
                                    <div class="d-grid">
                                        <button type="submit" name="submit" id="form-submit" class="btn btn-dark">Register New Product</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Modal Content -->



                </div>
                </div>
                </div>



                
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
