{% extends "layouts/base-fullscreen.html" %}

{% block title %} {{ title }} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
            <div class="container">
                {% if package_data_dict['item_type'] == 'service' %}
                <p class="text-center"><a href="{{ url_for('main.display_items', service_or_product=package_data_dict['item_type']) }}" class="text-gray-700"><i class="fas fa-angle-left me-2"></i>Back to Services</a></p>
                {% else %}
                <p class="text-center"><a href="{{ url_for('main.display_items', service_or_product=package_data_dict['item_type']) }}" class="text-gray-700"><i class="fas fa-angle-left me-2"></i>Back to Products</a></p>
                {% endif %}
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="mb-4 mb-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                {% if package_data_dict['item_type'] == 'service' %}
                                <h1 class="mb-0 h3">Edit Service</h1>
                                {% else %}
                                <h1 class="mb-0 h3">Edit Product</h1>
                                {% endif %}
                            </div>

                            <form method="post" action="">
                                {{ form.hidden_tag() }}
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    {% if package_data_dict['item_type'] == 'service' %}
                                    <label for="Service Name">Service Name</label>
                                    {% else %}
                                    <label for="Service Name">Product Name</label>
                                    {% endif %}
                                    <div class="input-group">
                                        <span class="input-group-text"><span class="fas fa-clipboard-list"></span></span>
                                        {{ form.item_name(class="form-select", placeholder="e.g. Men's haircut") }}
                                    </div>
                                    <p class="text-danger">{% for errors in form.item_name.errors %}{{ errors }}{% endfor %}</p>
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="password">Item Price (SGD)</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><span class="fas fa-dollar-sign"></span></span>
                                            {{ form.item_price(class="form-control") }}
                                        </div>  
                                    </div>
                                    <!-- End of Form -->
                                </div>
                                <div class="d-grid">
                                    {% if package_data_dict['item_type'] == 'service' %}
                                    <button type="submit" name="submit" id="form-submit" class="btn btn-dark">Edit Service</button>
                                    {% else %}
                                    <button type="submit" name="submit" id="form-submit" class="btn btn-dark">Edit Product</button>
                                    {% endif %}
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
