{% extends "layouts/base-customer.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    {% for package in package_data %}
    <div class="col-12 col-sm-12 col-xl-12 mb-4">
        <div class="card border-light shadow-sm">
            <div class="card-body">
                <div class="col-12 col-xl-12 px-xl-0 mb-5">

                    <div class="progress-wrapper">
                        <div class="progress-info">
                            <div class="progress-label">
                                    {% if package.is_active==1 %}
                                    <span class="text-success"><b>Package Status:</b> {{ package.num_uses_left }} / {{ package.package_num_total_uses_at_start }}</span>
                                    {% else %}
                                    <span class="text-danger"><b>Package Status:</b> Inactive</span>
                                    {% endif %}    
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: {{ package.num_uses_left / package.package_num_total_uses_at_start * 100 }}%" aria-valuenow="{{ package.num_uses_left }}" aria-valuemin="0" aria-valuemax="{{ package.package_num_total_uses_at_start }}"></div>
                        </div>
                    </div>

                    <h1 class="h3 mb-3"><b>{{ package.package_name }}:</b> {{ package.num_uses_left }} uses left</h1>
                    <h6 class="fw-normal text-gray"><span class="icon w-20 icon-xs icon-secondary me-1"><span class="fas fa-desktop"></span></span> <b>Total sessions bought:</b> {{ package.package_num_total_uses_at_start }} </h6>
                    <h6 class="fw-normal text-gray"><span class="icon w-20 icon-xs icon-primary me-1"><span class="fas fa-mobile-alt"></span></span> <b>package_num_used_when_keyed:</b> {{ package.package_num_used_when_keyed }}</h6>
                    <h6 class="fw-normal text-gray"><span class="icon w-20 icon-xs icon-tertiary me-1"><span class="fas fa-tablet-alt"></span></span> <b>package_num_times_used_after_keyed:</b> {{ package.package_num_times_used_after_keyed }} </h6>
                    <h6 class="fw-normal text-gray"><span class="icon w-20 icon-xs icon-tertiary me-1"><span class="fas fa-tablet-alt"></span></span> <b>package_num_times_transferred:</b> {{ package.package_num_times_transferred }} </h6>
                    <h6 class="fw-normal text-gray"><span class="icon w-20 icon-xs icon-tertiary me-1"><span class="fas fa-tablet-alt"></span></span> <b>Date package bought:</b> {{ package.created_at }} </h6>
                    <h6 class="fw-normal text-gray"><span class="icon w-20 icon-xs icon-tertiary me-1"><span class="fas fa-tablet-alt"></span></span> <b>Company:</b> {{ package.company }} </h6>
                </div>

                          <!-- Button Modal -->
                          <button type="button" class="btn btn-block btn-dark mb-3" data-bs-toggle="modal" data-bs-target="#modal-notification">Notification</button>
                          <!-- Modal Content -->
                          <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
                              <div class="modal-dialog modal-info modal-dialog-centered" role="document">
                                  <div class="modal-content bg-gradient-secondary">
                                      <div class="modal-header">
                                          <p class="modal-title" id="modal-title-notification">A new experience, personalized for you.</p>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                          <div class="py-3 text-center">
                                              <span class="modal-icon display-1-lg"><span class="far fa-envelope-open"></span></span>
                                              <h2 class="h4 modal-title my-3">Important message!</h2>
                                              <p>Do you know that you can assign status and relation to a company right in the visit list?.</p>
                                          </div>
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-sm btn-white">Go to Inbox</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- End of Modal Content -->
                <a class="btn btn-sm btn-secondary" href="{{ url_for('main.use_package', package_id=package.package_id) }}"><span class="fas fa-plus-circle mr-1"></span> Use Package </a>
                <a class="btn btn-sm btn-tertiary" href="{{ url_for('main.transfer_package', package_id=package.package_id) }}"><span class="fas fa-user-plus mr-1"></span> Transfer Package </a>
                <a class="btn btn-sm btn-primary" href="{{ url_for('main.display_package_invoice', package_id=package.package_id) }}"><span class="fas fa-file-invoice mr-1"></span> Invoice </a>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
