{% extends "layouts/base-fullscreen.html" %}

{% block title %} Register New Package {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
            <div class="container">
                <p class="text-center"><a href="{{ url_for('main.admin_home') }}" class="text-gray-700"><i class="fas fa-angle-left me-2"></i>Back to homepage</a></p>
                <div class="row justify-content-center form-bg-image" data-background-lg="/static/assets/img/illustrations/signin.svg">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="mb-4 mb-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">Port an Existing Package</h1>
                            </div>

                            <form method="post" action="" class="mt-4">
                                {{ form.hidden_tag() }}
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="email">Customer's Phone Number</label>
                                    <div class="input-group">
                                        <span class="input-group-text"><span class="fas fa-phone"></span></span>
                                        {{ form.phone(placeholder="Phone", class="form-control") }}
                                    </div>  
                                    <p class="text-danger">{% for errors in form.phone.errors %}{{ errors }}{% endfor %}</p>
                                </div>
                                <!-- End of Form -->
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="email">Customer Name</label>
                                    <div class="input-group">
                                        <span class="input-group-text"><span class="fas fa-user-circle"></span></span>
                                        {{ form.name(placeholder="Name", class="form-control") }}
                                    </div>  
                                    <p class="text-danger">{% for errors in form.name.errors %}{{ errors }}{% endfor %}</p>
                                </div>
                                <!-- End of Form -->
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="email">Package Type</label>
                                    <div class="input-group">
                                        {{ form.package_name(class="form-select") }}
                                    </div>
                                    <p class="text-danger">{% for errors in form.package_name.errors %}{{ errors }}{% endfor %}</p>
                                </div>
                                <!-- End of Form -->
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="email">No. times package can be used</label>
                                    <div class="input-group">
                                        <span class="input-group-text"><span class="fas fa-list-ol"></span></span>
                                        {{ form.package_num_total_uses_at_start(class="form-control") }}
                                    </div>
                                    <p class="text-danger">{% for errors in form.package_num_total_uses_at_start.errors %}{{ errors }}{% endfor %}</p>
                                </div>
                                <!-- End of Form -->
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="email">No. times package has already been used</label>
                                    <div class="input-group">
                                        <span class="input-group-text"><span class="fab fa-creative-commons-zero"></span></span>
                                        {{ form.package_num_used_when_keyed(class="form-control") }}
                                    </div>
                                    <p class="text-danger">{% for errors in form.package_num_used_when_keyed.errors %}{{ errors }}{% endfor %}</p>
                                </div>
                                <!-- End of Form -->
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="email">Price Paid for Package (SGD)</label>
                                    <div class="input-group">
                                        <span class="input-group-text"><span class="fas fa-dollar-sign"></span></span>
                                        {{ form.package_price_paid(class="form-control") }}
                                    </div>
                                    <p class="text-danger">{% for errors in form.package_price_paid.errors %}{{ errors }}{% endfor %}</p>
                                </div>
                                <!-- End of Form -->
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="email">Date Package Created</label>
                                    <div class="input-group">
                                        <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                                        {{ form.created_at(class="datepicker form-control", id="datepicker") }}
                                    </div>
                                    <p class="text-danger">{% for errors in form.created_at.errors %}{{ errors }}{% endfor %}</p>
                                </div>
                                <!-- End of Form -->

                                <div class="d-grid">
                                    <button type="submit" name="submit" class="btn btn-dark">Create New Package</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
$( ".datepicker" ).datepicker({
    format: 'yyyy-mm-dd'
 });
{% endblock javascripts %}
