<nav id="sidebarMenu" class="sidebar d-md-block bg-dark text-white collapse" data-simplebar>
  <div class="sidebar-inner px-4 pt-3">
    <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
      <div class="d-flex align-items-center">
        <div class="d-block">
          <h2 class="h6">
            {{ current_user.name }}
          </h2>
          <a href="{{ url_for('auth.logout') }}" class="btn btn-secondary text-dark btn-xs"><span
              class="me-2"><span class="fas fa-sign-out-alt"></span></span>Sign Out</a>
        </div>
      </div>
      <div class="collapse-close d-md-none">
        <a href="#sidebarMenu" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation"></a>
      </div>
    </div>
    <ul class="nav flex-column pt-3 pt-md-0">
      <li class="nav-item {% if 'Customer Home' in title %} active {% endif %}">
        <a href="{{ url_for('main.customer_home') }}" class="nav-link">
          <span class="sidebar-icon"><span class="fas fa-home"></span></span>
          <span class="sidebar-text">Home</span>
        </a>
      </li>
      <li class="nav-item {% if 'Customer Settings' in title %} active {% endif %}">
        <a href="{{ url_for('main.customer_settings') }}" class="nav-link">
          <span class="sidebar-icon"><span class="fas fa-cog"></span></span>
          <span class="sidebar-text">Settings</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('auth.logout') }}"
          class="btn btn-warning d-flex align-items-center justify-content-center btn-upgrade-pro">
          <span class="sidebar-icon"><span class="fas fa-sign-out-alt"></span></span> 
            <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
