    <nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark ps-0 pe-2 pb-0">
        <div class="container-fluid px-0">
          <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
            <div class="d-flex align-items-center">
            </div>
            <!-- Navbar links -->
            <ul class="navbar-nav align-items-center">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle pt-1 px-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <div class="media d-flex align-items-center">
                    <img class="user-avatar md-avatar rounded-circle" alt="Image placeholder" src="https://ui-avatars.com/api/?name={{ current_user.name }}&background=fba918&color=000&rounded=true&size=128&font-size=0.33&bold=true">
                    <div class="media-body ms-2 text-dark align-items-center d-none d-lg-block">
                      <span class="mb-0 font-small fw-bold">
                        User: <strong>{{ current_user.name }}</strong>
                      </span>
                    </div>
                  </div>
                </a>
                <div class="dropdown-menu dashboard-dropdown dropdown-menu-end mt-2 py-0">
                  {% if current_user.role == 'customer' %}
                    <a class="dropdown-item fw-bold" href="{{ url_for('main.customer_settings') }}"><span class="fas fa-cog"></span>Settings</a>
                  {% else %}
                    <a class="dropdown-item fw-bold" href="{{ url_for('main.admin_settings') }}"><span class="fas fa-cog"></span>Settings</a>
                  {% endif %}
                    <div role="separator" class="dropdown-divider my-0"></div>
                    <a class="dropdown-item rounded-bottom fw-bold" href="{{ url_for('auth.logout') }}">
                      <span class="fas fa-sign-out-alt text-danger"></span>Logout</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    