{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Hi {{ current_user.name }}</h1>

<p>Register package for existing customer: <a href="{{ url_for('main.register_new_package') }}"> Click to register package</a></p>
<p>Create a new customer: <a href="{{ url_for('auth.customer_register') }}"> Click to register customer</a></p>
<p>Create a new admin: <a href="{{ url_for('auth.admin_register') }}"> Click to register admin</a></p>
<p>Placeholder to find existing customer and add new package</p>
<p><a href="{{ url_for('main.port_customer_and_package') }}">Port new package to Stabl</a></p>
{% endblock %}
