{% extends "layouts/base-admin.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <!-- Start card -->
        <div class="col-12 col-xl-6 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <h2 class="h5">Orders and Packages</h2>
                        <p>Add walk-in orders and manage customer packages</p>
                        <div class="d-block">
                            <div class="d-flex align-items-center pt-3 me-5">
                                <div class="d-block">
                                    <a href="{{ url_for('main.add_item_to_cart') }}" class="btn btn-outline-primary"><span class="fas fa-shoe-prints"></span> Add Walk-in Order </a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center pt-3 me-5">
                                <div class="d-block">
                                    <a href="{{ url_for('main.register_new_package') }}" class="btn btn-outline-tertiary "><span class="fas fa-tasks"></span> Register Package </a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center pt-3 me-5">
                                <div class="d-block">
                                    <a href="{{ url_for('main.search_for_customer') }}" class="btn btn-outline-info "><span class="fas fa-user-ninja"></span> Use Package for Customer </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- End card-->
        <!-- Start card -->
        <div class="col-12 col-xl-6 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <h2 class="h5">Manage Your Business</h2>
                        <p>Services, Products, Outlets</p>
                        <div class="d-block">
                            <div class="d-flex align-items-center pt-3 me-5">
                                <div class="d-block">
                                    <a href="{{ url_for('main.display_items', service_or_product='service') }}" class="btn btn-outline-primary"><span class="fas fa-cut"></span> Edit Services / Packages </a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center pt-3 me-5">
                                <div class="d-block">
                                    <a href="{{ url_for('main.display_items', service_or_product='product') }}" class="btn btn-outline-tertiary "><span class="fas fa-box"></span> Edit Products </a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center pt-3 me-5">
                                <div class="d-block">
                                    <a href="{{ url_for('main.change_admin_outlet') }}" class="btn btn-outline-info "><span class="fas fa-store"></span> Edit Outlets </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- End card-->
    </div>

    <div class="row">
        <!-- Start card -->
        <div class="col-12 col-xl-6 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <h2 class="h5">Admin and Customers Accounts</h2>
                        <p>Create new admins and customer accounts</p>
                        <div class="d-block">
                            <div class="d-flex align-items-center pt-3 me-5">
                                <div class="d-block">
                                    <a href="{{ url_for('auth.admin_register') }}" class="btn btn-outline-primary"><span class="fas fa-users-cog"></span> Create Admin Account </a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center pt-3 me-5">
                                <div class="d-block">
                                    <a href="{{ url_for('auth.customer_register') }}" class="btn btn-outline-tertiary "><span class="fas fa-user-plus"></span> Register New Customer </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- End card-->
        <!-- Start card -->
        <div class="col-12 col-xl-6 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <h2 class="h5">Migrate Packages</h2>
                        <p>Migrate your old packages to Stabl</p>
                        <div class="d-block">
                            <div class="d-flex align-items-center pt-3 me-5">
                                <div class="d-block">
                                    <a href="{{ url_for('main.port_customer_and_package') }}" class="btn btn-outline-primary"><span class="fas fa-random"></span> Migrate Packages to Stabl </a>
                                </div>
                            </div>
                        </div>
                        <div class="d-block">
                            <div class="d-flex align-items-center pt-3 me-5">
                                <div class="d-block">
                                    <p> Contact us for bulk migration.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- End card-->
    </div>

    <!-- Start row -->
    <div class="row">
        <div class="col-12 col-xl-12 mb-4">
                <!-- Start team members card -->
                <div class="col-12 col-lg-12 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-header border-bottom border-light d-flex justify-content-between">
                            <h2 class="h5 mb-0">Team members</h2>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush list my--3">
                                {% for admin in admin_data %}
                                <li class="list-group-item px-0">
                                    <div class="row align-items-center">
                                    <div class="col-auto ms--2">
                                        <h4 class="h6 mb-0">
                                            <a href="#!">{{ admin.name }}</a>
                                        </h4>
                                        {% if admin.is_active %}
                                        <span class="text-success">●</span>
                                        <small>Active</small>
                                        {% if admin.is_superadmin %}
                                        <small>(Super Admin)</small>
                                        {% endif %}
                                        {% else %}
                                        <span class="text-danger">●</span>
                                        <small>Deactivated</small>
                                        {% endif %}
                                    </div>
                                    {% if current_user.is_superadmin %}
                                    {% if not admin.is_superadmin %}
                                    {% if admin.is_active %}
                                    <div class="col text-right">
                                        <a href="{{ url_for('main.deactivate_admin', admin_id=admin.id) }}" class="btn btn-sm btn-danger"><i class="fas fa-user-minus me-1"></i>Deactivate</a>
                                    </div>
                                    {% else %}
                                    <div class="col text-right">
                                        <a href="{{ url_for('main.activate_admin', admin_id=admin.id) }}" class="btn btn-sm btn-tertiary"><i class="fas fa-user-plus me-1"></i>Activate</a>
                                    </div>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                      </div>
                </div>
                <!-- End team members card -->
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
