{% extends "layouts/base-customer.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    {% for package in package_data %}
    <div class="col-12 col-sm-12 col-xl-12 mb-4">
        <div class="card border-light shadow-sm">
            <div class="card-body">
                <div class="col-12 col-xl-12 px-xl-0 mb-5">

                    <div class="progress-wrapper">
                        <div class="progress-info">
                            <div class="progress-label">
                                    {% if package.is_active==1 %}
                                    <span class="text-success"><b>Package Status:</b> {{ package.num_uses_left }} / {{ package.package_num_total_uses_at_start }}</span>
                                    {% else %}
                                    <span class="text-danger"><b>Package Status:</b> Inactive</span>
                                    {% endif %}    
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: {{ package.num_uses_left / package.package_num_total_uses_at_start * 100 }}%" aria-valuenow="{{ package.num_uses_left }}" aria-valuemin="0" aria-valuemax="{{ package.package_num_total_uses_at_start }}"></div>
                        </div>
                    </div>

                    <h1 class="h3 mb-3"><b>{{ package.package_name }}:</b> {{ package.num_uses_left }} uses left</h1>
                    <h6 class="fw-normal text-gray"><span class="icon w-20 icon-xs icon-secondary me-1"><span class="fas fa-desktop"></span></span> <b>Total sessions bought:</b> {{ package.package_num_total_uses_at_start }} </h6>
                    <h6 class="fw-normal text-gray"><span class="icon w-20 icon-xs icon-primary me-1"><span class="fas fa-mobile-alt"></span></span> <b>package_num_used_when_keyed:</b> {{ package.package_num_used_when_keyed }}</h6>
                    <h6 class="fw-normal text-gray"><span class="icon w-20 icon-xs icon-tertiary me-1"><span class="fas fa-tablet-alt"></span></span> <b>package_num_times_used_after_keyed:</b> {{ package.package_num_times_used_after_keyed }} </h6>
                    <h6 class="fw-normal text-gray"><span class="icon w-20 icon-xs icon-tertiary me-1"><span class="fas fa-tablet-alt"></span></span> <b>package_num_times_transferred:</b> {{ package.package_num_times_transferred }} </h6>
                    <h6 class="fw-normal text-gray"><span class="icon w-20 icon-xs icon-tertiary me-1"><span class="fas fa-tablet-alt"></span></span> <b>Date package bought:</b> {{ package.created_at }} </h6>
                    <h6 class="fw-normal text-gray"><span class="icon w-20 icon-xs icon-tertiary me-1"><span class="fas fa-tablet-alt"></span></span> <b>Company:</b> {{ package.company }} </h6>
                </div>

                {% if package.is_active==1 %}
                <!-- Button Modal -->
                <a class="btn btn-sm btn-tertiary" data-bs-toggle="modal" data-bs-target="#modal-package{{ package.package_id }}"><span class="fas fa-plus-circle mr-1"></span> Use Package </a>
                <!-- Modal Content -->
                <div class="modal fade" id="modal-package{{ package.package_id }}" tabindex="-1" role="dialog" aria-labelledby="modal-achievement" aria-hidden="true">
                    <div class="modal-dialog modal-tertiary modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-white">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="text-center">
                                    <span class="modal-icon display-1 text-primary"><span class="fas fa-medal"></span></span>
                                    <h2 class="h4 modal-title mb-3 text-white text-center">Use Package: {{package.package_name}}</h2>
                                    <h2 class="h6 modal-title mb-3 text-white">Please acknowledge the following before using the package:</h2>
                                    <ul class="text-left text-white my-3">
                                        <li>I am redeeming a one time use for the package: {{ package.package_name }} </li>
                                        <li>Staff is present to witness package use</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="modal-footer d-flex justify-content-center pt-0 pb-3">
                                <a class="btn btn-sm btn-white text-tertiary" href="{{ url_for('main.use_package', package_id=package.package_id) }}"> Use Package </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Modal Content -->
                <a class="btn btn-sm btn-secondary" href="{{ url_for('main.transfer_package', package_id=package.package_id) }}"><span class="fas fa-user-plus mr-1"></span> Transfer Package </a>
                {% endif %}

                <a class="btn btn-sm btn-primary" href="{{ url_for('main.display_package_invoice', package_id=package.package_id) }}"><span class="fas fa-file-invoice mr-1"></span> Invoice </a>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
