{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Hi {{ current_user.name }}</h1>
<a href="{{ url_for('main.send_package_invoice') }}">Send Package Invoice</a>


{% for package in package_data %}
<div class="package">
<h4><b>{{ package.package_name }}: {{ package.num_uses_left }} uses left</b></h4>
<p>Total sessions bought: {{ package.package_num_total_uses_at_start }}</p>
<p>package_num_used_when_keyed: {{ package.package_num_used_when_keyed }}</p>
<p>package_num_times_used_after_keyed: {{ package.package_num_times_used_after_keyed }}</p>
<p>package_num_times_transferred: {{ package.package_num_times_transferred }}</p>
<p>Date package bought: {{ package.created_at }}</p>
<p>Package status: {% if package.is_active == 1  %} Active {% else %} Inactive {% endif %}</p>
<a href="{{ url_for('main.use_package', package_id=package.package_id) }}"><button>Use Package</button></a>
<a href="{{ url_for('main.transfer_package', package_id=package.package_id) }}"><button>Transfer Package</button></a>
<br>
<br>
</div>
{% endfor %}
{% endblock %}