{% extends "layouts/base-customer.html" %}

{% block title %} {{title}} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- Edit personal information -->
<div class="row">
    <div class="col-12 col-xl-12">
        <div class="card card-body shadow-sm mb-4">
            <h2 class="h5 mb-4">Your information</h2>
            <form action="{{ url_for('main.update_customer_settings') }}" method="post">
                {{ form_update_settings.hidden_tag() }}
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div>
                            <label for="Name">Name</label>
                            <div class="input-group">
                                <span class="input-group-text"><span class="fas fa-user-circle"></span></span>
                                {{ form_update_settings.name(placeholder="Name", class="form-control") }}
                            </div>  
                            <p class="text-danger">{% for errors in form_update_settings.name.errors %}{{ errors }}{% endfor %}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="email">Your Email</label>
                        <div class="input-group">
                            <span class="input-group-text"><span class="fas fa-envelope"></span></span>
                            {{ form_update_settings.email(placeholder="Email", class="form-control") }}
                        </div>
                        <p class="text-danger">{% for errors in form_update_settings.email.errors %}{{ errors }}{% endfor %}</p>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="email">Singapore Phone Number</label>
                            <div class="input-group">
                                <span class="input-group-text"><span class="fas fa-phone"></span></span>
                                {{ form_update_settings.phone(placeholder="Phone", class="form-control") }}
                            </div>
                            <p class="text-danger">{% for errors in form_update_settings.phone.errors %}{{ errors }}{% endfor %}</p>
                        </div>
                    </div>
                </div>
                <button type="submit" name="submit" class="btn btn-secondary">Update Information</button>
            </form>
        </div>
    </div>
</div>
<!-- End personal information -->

<!-- Change password form -->
<div class="row">
    <div class="col-12 col-xl-12">
        <div class="card card-body shadow-sm mb-4">
            <h2 class="h5 mb-4">Change your password</h2>
            <form action="{{ url_for('main.update_customer_password') }}" method="post">
                {{ form_password.hidden_tag() }}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="password">New Password</label>
                        <div class="input-group">
                            <span class="input-group-text"><span class="fas fa-unlock-alt"></span></span>
                            {{ form_password.password(placeholder="New password", class="form-control", type="password") }}
                        </div>
                        <p class="text-danger">{% for errors in form_password.password.errors %}{{ errors }}{% endfor %}</p>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="password">Confirm New Password</label>
                            <div class="input-group">
                                <span class="input-group-text"><span class="fas fa-unlock-alt"></span></span>
                                {{ form_password.password2(placeholder="Confirm new password", class="form-control", type="password") }}
                            </div>  
                        <p class="text-danger">{% for errors in form_password.password2.errors %}{{ errors }}{% endfor %}</p>
                        </div>
                    </div>
                </div>
                <button type="submit" name="submit" class="btn btn-secondary">Change Password</button>
            </form>
        </div>
    </div>
</div>
<!-- End change password form -->

<div class="row">
    <div class="col-12 col-xl-12">
        <div class="card card-body shadow-sm mb-4">
            <h2 class="h5 mb-4">Delete Account</h2>
            <p class="text-danger">Warning! All your packages will be lost if you delete your account. This action cannot be undone.</p>

            <!-- Button Modal -->
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div>
                        <a class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modal-delete-account"><span class="fas fa-minus mr-1"></span> Delete My Account </a>
                    </div>
                </div>
            </div>

            <!-- Modal Content -->
            <div class="modal fade" id="modal-delete-account" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
                <div class="modal-dialog modal-info modal-dialog-centered" role="document">
                    <div class="modal-content bg-gradient-secondary">
                        <div class="modal-header">
                            <p class="modal-title" id="modal-title-notification">Please confirm deletion.</p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="py-3 text-center">
                                <span class="modal-icon display-1-lg"><span class="far fa-envelope-open"></span></span>
                                <h2 class="h4 modal-title my-3">Important message!</h2>
                                <p>Are you sure you want to delete your account? All your packages will be lost.</p>
                                <p>This action cannot be undone.</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-sm btn-danger" href="{{ url_for('main.delete_customer_account') }}"> Delete My Account </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Modal Content -->




        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
