{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Hi {{ current_user.name }}</h1>


{% for package in package_data %}
<div class="package">
<h4><b>{{ package.package_name }}</b></h4>
<p>Total sessions bought: {{ package.package_total_uses_at_start }}</p>
<p>Number of uses left: {{ package.num_uses_left }}</p>
<p>Date package bought: {{ package.created_at }}</p>
<!-- <a href="{{ url_for('main.use_package', package_id=package.package_id) }}">Use Package</a> -->
<a href="{{ url_for('main.use_package', package_id=package.package_id) }}"><button>Use Package</button></a>
<br>
<br>
</div>
{% endfor %}
{% endblock %}